In [5]:
import sqlite3 as sql
import pandas as pd
import matplotlib.pyplot as plt
import requests

In [ ]:
weather = pd.read_csv('https://github.com/alanjones2/dataviz/raw/master/londonweather.csv')

In [ ]:
weather

In [ ]:
conn = sql.connect('weather.db')
weather.to_sql('weather', conn)

In [ ]:
conn = sql.connect('weather.db')
weather = pd.read_sql('SELECT * FROM weather', conn)

## Using Crontab

##### Use this tool to help build my commands: https://crontab.guru/

- Example Crontab script: 30 7 * * *

In [1]:
import kucoin_balance

In [8]:
df = kucoin_balance.kukoin_run()

In [9]:
df

,currency,act_name,balance,available,holds,price,dollar_value
date,,,,,,,
2021-08-23 02:30:34,BTC,trade,0.042525,0.042525,0.000000,49821.3000,2118.65
2021-08-23 02:30:34,USDC,trade,1223.297009,1223.297009,0.000000,NaN,1223.30
2021-08-23 02:30:34,USDT,trade,1055.248023,630.294119,424.953905,NaN,1055.25
2021-08-23 02:30:34,BTC3S,trade,308.923700,99.587300,209.336400,1.9055,588.65
2021-08-23 02:30:34,BTC3L,trade,74.433300,21.594900,52.838400,1.4003,104.23
2021-08-23 02:30:34,ATOM,trade,0.236600,0.236600,0.000000,22.7730,5.39
2021-08-23 02:30:34,ALGO,trade,0.000000,0.000000,0.000000,1.1663,0.00
2021-08-23 02:30:34,ETH,trade,0.000000,0.000000,0.000000,3261.8100,0.00
2021-08-23 02:30:34,MATIC,trade,0.000000,0.000000,0.000000,1.6332,0.00

In [10]:
conn = sql.connect('kucoin.db')
df.to_sql('kucoin', conn, if_exists = 'append')